/* Html Section */
html{
  scroll-behavior: smooth;
}

/* Body Section */
body {
  background-image: url("images/code_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

/* Div Section */
.content {
  position: relative;
  top: 100px;
  left: 38%;
  width: 400px;
}

.contact-div{
  position: relative;
  top: 200px;
  height: 100px;
  background-color:rgb(73, 96, 110);
  margin: -8px;
}

.lang-icons{
  position: relative;
  top: 450px;
  left: 900px;
  width: 500px;
}

.skill-div{
  position: relative;
  left: 60%;
  width: 35%;
}

.about-me{
  width: 93%;
  height: 230px;
  background-color: rgba(128, 128, 128, 0.253);
  position: relative;
  left: 50px;
  top: 450px;
  border-radius: 10px;
}

.intro-display{
  transition-duration: 0.8s;
  height: 80px;
  width: 80px;
  background-color: rgb(239, 71, 62);
  position: absolute;
  display: block;
  top: 60px;
  left: 13%;
  z-index: 5;
  border-radius: 19%;
}

.vision-display{
  transition-duration: 0.8s;
  height: 80px;
  width: 80px;
  background-color: rgb(0, 124, 247);
  position: absolute;
  display: block;
  top: 62px;
  left: 46%;
  z-index: 1;
  border-radius: 19%;
}

.passion-display{
  transition-duration: 0.8s;
  height: 80px;
  width: 80px;
  background-color: rgb(190, 144, 64);
  position: absolute;
  display: block;
  top: 60px;
  left: 81.5%;
  z-index: 3;
  border-radius: 19%;
}

/* Header Section*/
header{
  color:rgb(184, 190, 197);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  text-align: center;
}

/* H1 Section */
h1 {
  font-size: 50px;
  color: rgb(116, 151, 173);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* H2 Section */
h2 {
  color: rgb(116, 151, 173);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#intro-heading{
  color: white;
  position: relative;
  left: 20px;
  display: none;
}

#vision-heading{
  color: white;
  position: relative;
  top: 150px;
  right: 13px;
  display: none; 
}

#passion-heading{
  color: white;
  position: relative;
  right: 150px;
  display: none;
}

/* H3 Section*/
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* H4 Section */
h4{
  color: rgb(77, 101, 116);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100px;
}

.intro{
  position: relative;
  top: 130px;
  left: 11.8%;
}

.vision{
  position: relative;
  top: 90px;
  left: 47.5%;
}

.passion{
  position: relative;
  top: 50px;
  left: 82.5%;
}

/* Button Section */
.about {
  width: 100px;
  height: 25px;
  position: relative;
  left: 50px;
  border-radius: 10px;
  border: none;
  transition-duration: 0.5s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.about:hover{
  background-color: rgb(116, 151, 173);
  color: white;
}

.contact {
  width: 100px;
  height: 25px;
  position: relative;
  left: 100px;
  border-radius: 10px;
  transition-duration: 0.5s;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.contact:hover{
  background-color: rgb(116, 151, 173);
  color: white;
}

.gmail{
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  height: 45px;
  border: none;
  transition-duration: 0.3s;
  background-color: transparent;
  cursor: pointer;
}

.gmail:hover{
  background-color: rgb(47, 62, 71);
}

.telegram{
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  height: 45px;
  border: none;
  transition-duration: 0.3s;
  background-color: transparent;
  cursor: pointer;
}

.telegram:hover{
  background-color: rgb(47, 62, 71);
}

.github{
  float: right;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  height: 45px;
  border: none;
  transition-duration: 0.3s;
  background-color: transparent;
  cursor: pointer;
}

.github:hover{
  background-color: rgb(47, 62, 71);
}

/* Image Section */
.front-img{
  width: 250px;
  height: 250px;
  border-radius: 130px;
  position: relative;
  left: 50px;
}

.html-icon{
  position: relative;
  top: 100px;
  right: 870px;
  width: 140px;
  height: 125px;
}

.css-icon{
  position: relative;
  top: 105px;
  right: 840px;
  width: 120px;
  height: 135px;
}

.js-icon{
  position: relative;
  top: 116px;
  right: 820px;
  width: 200px;
  height: 150px; 
}

.nodejs-icon{
  position: relative;
  bottom: 50px;
  right: 330px;
  width: 200px;
  height: 150px; 
}

.c-icon{
  position: relative;
  top: 170px;
  right: 1030px;
  width: 200px;
  height: 150px;
}

.cpp-icon{
  position: relative;
  right: 580px;
  width: 170px;
  height: 130px;
}

.csharp-icon{
  position: relative;
  top: 10px;
  right: 530px;
  width: 200px;
  height: 150px;
}

.java-icon{
  position: relative;
  top: 70px;
  right: 770px;
  width: 200px;
  height: 150px;
}

.dart-icon{
  position: relative;
  top: 90px;
  right: 750px;
  width: 200px;
  height: 150px;
}

.gmail-img{
  width: 25px;
  height: 25px;
}

.telegram-img{
  width: 30px;
  height: 30px;
}

.github-img{
  width: 25px;
  height: 25px;
}

.monitor{
  height: 150px;
  width: 150px;
  position: absolute;
  left: 10%;
  top: 35px;
  transition-duration: 0.4s;
  cursor: pointer;
  z-index: 6;
}

.joystick{
  height: 130px;
  width: 130px;
  position: absolute;
  left: 80%;
  top: 45px;
  transition-duration: 0.4s;
  cursor: pointer;
  z-index: 4;
}

.watch{
  height: 150px;
  width: 150px;
  position: absolute;
  left: 44%;
  top: 35px;
  transition-duration: 0.4s;
  cursor: pointer;
  z-index: 2;
}

.monitor:hover{
  height: 200px;
  width: 200px;
  position: absolute;
  left: 9%;
}

.joystick:hover{
  height: 170px;
  width: 170px;
  position: absolute;
  left: 79%;
}

.watch:hover{
  height: 200px;
  width: 200px;
  position: absolute;
  left: 42.2%;
}

/* Paragraph Section */
.skill-descrip{
  width: 500px;
  height: 300px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intro-para{
  position: absolute;
  left: 190px;
  display: none;
  width: 400px;
  height: 150px;
}

#vision-para{
  position: absolute;
  top: 200px;
  left: 50px;
  display: none;
  width: 500px;
  height: 150px;
}

#passion-para{
  position: absolute;
  left: 50px;
  display: none;
  width: 350px;
  height: 150px;
}

/* Footer Section */
footer{
  color: white;
  position: relative;
  top: 40px;
  margin-left: 2%;
}

/* Anchor Section */
#telegram-link, #gmail-link, #github-link{
  text-decoration: none;
  position: relative;
  left: 35%; 
  color: rgb(73, 96, 110);
  background-color: white;
  padding: 5px;
  transition-duration: 0.3s;
  border-radius: 5px;
  border: none;
}

#telegram-link:hover, #gmail-link:hover, #github-link:hover{
  position: relative;
  left: 34%;
  padding: 20px;
}
